/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  body {
    font-family: 'Raleway', sans-serif;
    color: #fff; 
    background-color: #101010;
    font-size: 18px;
  }

  /***** GRID *****/
    .full-width {
      width: 1200px;
      margin: 30px auto;
      overflow: auto;
    }

    .half-width {
      width: 600px;
      float: left;
     
    }

    .third-width {
      width: 400px;
      float: left;
     
    }

/***** HEADER SECTION *****/
    header {
      height: 100vh;
    }
    #header .full-width {
      padding: 80px 0;
      
    }

    /***** LOGO *****/
      #logo-icon {
        height:100px;
        width: 100px;
      }
      #logo {
        display: flex;
        justify-content: flex-start;
        font-family: 'Shrikhand', cursive;
        font-size: 2.5rem;
      }
      .sev {
        color:#d9a64b;
        padding: 0px 10px;
      }
      .welker {
        color:#348ba0;
      }
    /***** NAV SECITON *****/

      nav {
        font-family: 'Shrikhand', cursive;
        font-size: 1.5rem;
      }

      #work-nav {
        color:#de91aa;
      }
      #about-nav {
        color:#d9a64b;
        padding-left: 25%;
      }
      #contact-nav {
        color:#348ba0;
        padding-left: 25%;
      }
      nav ul {
        display: flex;
        justify-content: flex-end;
      }
      nav ul li {
        list-style-type: none;
      }
    /***** INTRO SECITON *****/
      .intro {
        font-size: 3.5rem;
        line-height: ;
       
        text-align: center;
      }

      #intro-full-width {
        
      }
/***** MAIN SECITON *****/
main #intro-text {
  padding: 80px;
}
h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 2rem;
  text-align: center;
}

  /***** WORK SECTION*****/
  #work {
    height: 100vh;
  }
  .background-img-intro {
    background: url(../img/christian-bolt--unsplash.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }
    #work h2{
      color:#de91aa;
      background-color: #101010;
      padding: 0 0 .5em 0;
    }
    .background-img-work {
      background: url(../img/pink-space.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    #gallery-title {
      font-family: 'Shrikhand', cursive;
      font-size: 1.5rem;
      color:#de91aa;
    }
    .thumbnails {
      display: flex;
      justify-content: space-between;
    }
    .gallery-placeholder {
      height:150px;
      width: 250px;
      background-color: #de91aa;
      margin: 0 0 40px 0;
    }

/***** ABOUT SECTION *****/
#about {
  height: 100vh;
}
.background-img-about {
  background: url(../img/jelly-yellow.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.about h2{
  color:#d9a64b;
  background-color: #101010;
  padding: 0 0 .5em 0;
}

.about .full-width {
  display: flex;
  justify-content: center;
  align-items: center;
}

#portrait {
  height: 400px;
  width: 400px;
  filter: drop-shadow(-30px 0 0 #d9a64b);
  overflow: visible;
  max-width: 100%;
  padding: 40px;
}

.about .half-width p {
  background-color: rgba(0,0,0, 0.6);
  padding: 40px;
  line-height: 25px;
}


/***** CONTACT SECTION *****/
#contact {
  height: 100vh;
}
.contact h2{
  color:#348ba0;
  background-color: #101010;
  padding: 0 0 .5em 0;
}
.background-img-contact {
  background: url(../img/blue-wave.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
form {
  color: #fff;
  display: flex;
  flex-direction: column;
}
.form-control {
  width: 600px;
  background:#348ba0;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255);
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

